.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.text {
  margin: 1rem 0;
  font-size: 1rem;
  color: white
}

.input {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0;
  border: unset;
}

.input:hover {
  font-weight: 700;
}

.input:focus, .input:active {
  border: 3px solid #ffacb3;
  outline: none;
  border-radius: 0;
  box-shadow: unset;
}